{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block bodyparam %}onload="hide()"{% endblock %}

{% block content %}
<div class="container">
	<form name="setup" id="setup" action="javascript:submitGame();">
		<div id="playerlist" class="form-group">
			<label for="player">Players: </label>
			<select size="4" class="form-control" id="player" name="player" multiple required>
				{% for player in players %}
				<option value="{{ player }}">{{ player }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="gametype">Choose your game type: </label>
			<select class="form-control" id="gametype" onchange="hideshow()">
				<option value="x01">X01</option>
				<option value="cricket">Cricket</option>
			</select>
		</div>
		<div class="form-group" id="div-x01variant">
			<label for="x01variant">Which X01 do you want to play: </label>
			<select class="form-control" id="x01variant" name="x01variant">
				<option value="301">301</option>
				<option value="501">501</option>
				<option value="701">701</option>
				<option value="901">901</option>
			</select>
		</div>
		<div class="form-group" id="div-startIn">
			<label for="startIn">Condition to get into the game:</label>
			<select class="form-control" id="startIn" name="startIn">
				<option value="Simple">Simple</option>
				<option value="Double">Double</option>
				<option value="Master">Master</option>
			</select>
		</div>
		<div class="form-group" id="div-exitOut">
			<label for="exitOut">Condition to end the game:</label>
			<select class="form-control" id="exitOut" name="exitOut">
				<option value="Simple">Simple</option>
				<option value="Double">Double</option>
				<option value="Master">Master</option>
			</select>
		</div>
		<div class="form-group" id="div-variant">
			<label for="variant">Variant:</label>
			<select class="form-control"id="variant" name="variant">
				<option value="Cut Throat">Cut Throat</option>
				<option value="No Score">No Score</option>
			</select>
		</div>
		<button class="btn btn-outline-primary btn-lg" type="submit">Start Game</button>
	</form>
	<hr>
	<p>You are missing a user? Create one <a href="{{ url_for('game.manageuser') }}">here</a></p>
</div>
<br>
{% endblock %}
