{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/gameController.js') }}"></script>
    {% block script %}
        <script>
            function endGame() {
                var message = "{{ end_message }}";
                if (confirm(message) == true) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("GET", ('http://' + document.domain + ':' + location.port + '/game/endGame'), true);
                    xhttp.send();
                }
            }
        </script>
    {% endblock %}
{% endblock %}

{% if gametype == "x01" %}
	{% block bodyparam %}onload="drawX01Controller({{ playingPlayers }}), drawThrows({{ playingPlayers }},{{ throwlist }}), highlightAndScore('{{ activePlayer }}',{{ scorelist }})"{% endblock %}

{% elif gametype == "cricket" %}
{% endif %}


{% block content %}
	<div class="container">

	{% if recognition %}
		<p>Maybe show status here?</p>
		<div id="gameControls" class="col">
			<button onclick="nextPlayer()" id="nextPlayer" class="btn btn-outline-primary btn-lg">{% trans %}Next Player{% endtrans %}</button>
			<button onclick="endGame()" id="endGame" class="btn btn-outline-primary btn-lg">{% trans %}End Game{% endtrans %}</button>
		</div>

	{% else %}
        <div id="gameControls" class="row">
            <div><h3>{% trans %}Game Controls{% endtrans %}</h3></div>
            <div id="buttons" class="col">
                <button onclick="rematch()" style="display: none;" id="rematch" class="btn btn-outline-primary btn-lg">{% trans %}Rematch{% endtrans %}</button>
                <button onclick="nextPlayer()" id="nextPlayer" class="btn btn-outline-primary btn-lg">{% trans %}Next Player{% endtrans %}</button>
                <button onclick="endGame()" id="endGame" class="btn btn-outline-primary btn-lg">{% trans %}End Game{% endtrans %}</button>
            </div>
        </div>

        <br><hr>

		<div id="controls" class="row">
			<div><h3>{% trans %}Insert Throws{% endtrans %}</h3></div>
			{% if gametype == "x01" %}
			<div id="x01-controls" class="col">
			</div>
		</div>

                <br><hr>

			{% elif gametype == "cricket" %}
				<p>cricket</p>
				<div id="cricket-controls"></div>
				<div id="gameControls">
					<button onclick="nextPlayer()" id="nextPlayer" class="btn btn-outline-primary btn-lg">{% trans %}Next Player{% endtrans %}</button>
					<button onclick="endGame()" id="endGame" class="btn btn-outline-primary btn-lg">{% trans %}End Game{% endtrans %}</button>
				</div>

			{% else %}
			<p>unknown</p>
			{% endif %}
	{% endif %}

        <div id="throws" class="row">
            <div><h3>{% trans %}Change Throws{% endtrans %}</h3></div>
            <div id="frame" class="col"></div>
        </div>

		<!-- modal for updateThrow -->
		<div id="updateModal" class="modal">
			<div id="modal-content" class="modal-content">
				<div class="modal-header">
					<h2>{% trans %}Update Throw{% endtrans %}</h2>
					<span class="close">&times;</span>
				</div>
				<div id="modalPadding">
					<div id="modal-body" class="modal-body"></div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
	<!-- modal end -->
	<br>
{% endblock %}
