{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/gameController.js') }}"></script>
{% endblock %}
{% if gametype == "x01" %}
{% block bodyparam %}onload="drawX01Controller({{ playingPlayers }}), drawThrowContainer({{ playingPlayers }}), drawThrows({{ throwlist }})"{% endblock %}
{% elif gametype == "cricket" %}
{% endif %}

{% block content %}
<div class="container">
	<p>Debug:<br>Gametype: {{ gametype }}<br>Active Player: {{ activePlayer }}<br></p>
	<div id="throws" class="col"></div>

	{% if recognition %}
	<p>Maybe show status here?</p>
	<div id="gameControls"><button onclick="endGame()" id="endGame" class="btn btn-outline-primary btn-lg">End Game</button></div>
	{% else %}
	<div id="controls" class="col">
		{% if gametype == "x01" %}
		<div id="x01-controls"></div>
		<br>
		<div id="gameControls"><button onclick="endGame()" id="endGame" class="btn btn-outline-primary btn-lg">End Game</button></div>
		{% elif gametype == "cricket" %}
		<p>cricket</p>
		<div id="gameControls"><button onclick="endGame()" id="endGame" class="btn btn-outline-primary btn-lg">End Game</button></div>
		{% else %}
		<p>unknown</p>
		{% endif %}
	{% endif %}
	</div>
</div>
<br>
{% endblock %}
