{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for ('static', filename='js/qrcode.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
			<h2>Setup a new game like so:</h2>
			<ul>
				<li>Connect to the local wifi</li>
				<li>Scan the QR code with your smartphone or tablet</li>
				<li>Choose you setup of game and add player</li>
				<li>Start the game</li>
			</ul>

			<div id="qrcode" class="container qrcode">
				<script type="text/javascript">
					new QRCode(document.getElementById("qrcode"), "http://{{ ipaddr }}:{{ port }}/game/admin");
				</script>
			</div>
	</div>
	<div class="col-2"></div>
	</div>
</div>
<br>
{% endblock %}
