{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
	{% if created %}
	<p>User {{ name }} was created successfully!</p>
	{% elif deleted %}
	<p>User {{ name }} was deleted successfully!</p>
	{% endif %}
	<h2>Create a new user</h2>
	<p>You are missing a user to play? Go ahead and create one!</p>
	<form id="createuser" action="{{ url_for('game.manageuser') }}" method="post">
		<div id="username" class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" id="username" name="username" required>
			</input>
		</div>
		<input type="hidden" name="_action" value="add">

		<button class="btn btn-outline-primary btn-lg" type="submit">Create User</button>
	</form>
	<hr>
	<h2>User list</h2>
	<form id="deleteuser" action="{{ url_for('game.manageuser') }}" method="post">
		<div id="delusername" class="form-group">
			{% for player in players %}
	   <label for="{{ player }}">
	   <input class="form-control" value="{{ player }}" type="radio" id="delusername" name="delusername" required>
	   {{ player }}
	   </label><br>
	   {% endfor %}
		</div>
		<input type="hidden" name="_action" value="del">
		<button class="btn btn-outline-primary btn-lg" type="submit">Delete Selected User</button>
	</form>
	<hr>
	<p>Go <a href="{{ url_for('game.admin') }}">back</a> to the game setup when done!</p>
</div>
<br>
{% endblock %}

