{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/scoreboard.js') }}"></script>
{% endblock %}
{% block bodyparam %}style='overflow: hidden;' onload="drawScoreboardX01({{ playerlist }}, '{{ lastthrows }}', {{ throwsum }}); highlightActivePlayer('{{ player }}', '{{ player_id }}', '{{ rndcount }}', '{{ message }}', '{{ average }}', '{{ throwcount }}')"{% endblock %}
{% block content %}
<div class="container-fluid" id="content">
	<div class="row border-bottom border-top rounded" id="scoreheader">
		<div class="col" id="header-left">
			<table id="header-left" class="table table-sm table-dark table-striped">
				<tr>
					<td>{% trans %}Active Player{% endtrans %}:</td>
					<td id="header-activePlayer">{{ player }}</td>
				</tr><tr>
					<td>{% trans %}Player round{% endtrans %}:</td>
					<td id="header-rndcount">{{ rndcount }}</td>
				</tr><tr>
					<td>{% trans %}Player Average{% endtrans %}:</td>
					<td id="header-average">{{ average }}</td>
				</tr><tr>
					<td>{% trans %}Player Throws{% endtrans %}:</td>
					<td id="header-throwcount">{{ throwcount }}</td>
				</tr>
			</table>
		</div>
		<div class="col" id="header-right">
			<table id="header-right" class="table table-sm table-dark table-striped">
				<tr>
					<td>{% trans %}Game{% endtrans %}:</td>
					<td>{{ gametype }}</td>
				</tr><tr>
					<td>{% trans %}In{% endtrans %}:</td>
					<td>{{ startIn }}</td>
				</tr><tr>
					<td>{% trans %}Out{% endtrans %}:</td>
					<td>{{ exitOut }}</td>
				</tr>
			</table>
		</div>
	</div>
	<br>
	<div class="row border-top rounded" id="score"></div>
</div>
<br>
{% endblock %}
