{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/scoreboard.js') }}"></script>
{% endblock %}
{% block bodyparam %}onload="drawScoreboardX01({{ playerlist }}, '{{ lastthrowsall }}', {{ throwsum }}); highlightActivePlayer('{{ player }}', '{{ player_id }}', '{{ rndcount }}', '{{ message }}', '{{ average }}', '{{ throwcount }}')"{% endblock %}
{% block content %}
<div class="container-fluid" id="content">
	<div class="row border-bottom border-top rounded" id="scoreheader">
		<div class="col" id="header-left"><b>Active Player: {{ player }}<br>Player round: {{ rndcount }}<br>Player Average: {{ average }}<br>Player Throws: {{ throwcount }}</b></div>
		<div class="col" id="header-right"><b>Game: {{ gametype }}<br>In: {{ startIn }}<br>Out: {{ exitOut }}</b></div>
	</div>
	<br>
	<div class="row border-top rounded" id="score"></div>
</div>
<br>
{% endblock %}
