@import url('https://fonts.googleapis.com/css?family=Merriweather');

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	font-family: 'Merriweather', serif;
	background-image: linear-gradient(to right, #1d3c4c, #3c5b6c);
	color: #fff;
	border-radius: 25px;
}

#Header {
	height: 10%;
}

#content {
	height: 65%;
}

#Footer {
	height: 5%;
}

a, a:hover, a:visited, a:active {
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

h1#playerName,h1#playerScore, h2#playerSum, h2#playerThrow {
	text-align: center;
	vertical-align: middle;
}


div#playerName {
	background-color: #012432;
	padding: 10px;
}

div#playerScore, div[id^="Sum-"] {
	background-color: #3c5f6c;
	padding: 10px;
}

div#playerMessage {
	background-color: #3c5f6c;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

div[id^="Throws-"] {
	background-color: #012432;
	padding: 5px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

div#throw {
	vertical-align: middle;
	width: 33%;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
}

div#scoreheader {
	padding: 10px;
	margin-bottom: 25px;
}

div[id^="Border-"] {
	margin-top: 25px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

div.jumbotron.header {
	background: url("../img/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 15%;
}

div.jumbotron.footer {
	background-image: linear-gradient(to right, #1d3c4c, #3c5b6c);
}

table.footer {
	color: #fff;
}

.btn-outline-primary {
	color: #fff;
	border-color: #fff;
}

.btn-outline-primary:hover {
	background: #012432;
	border-color: #000;
}

.btn-outline-primary:focus {
	background-color: unset;
	box-shadow: unset;
	border-color: unset;
}

.btn-outline-primary:not(:disabled):not(.disabled).active {
	background-color: #3c5f6c;
	box-shadow: unset;
	border-color: #fff;
}

.from-control {
	background-color: #fff;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.btn-group {
    display: flex;
    flex-direction: row;
}

.btn-group > button {
    width: 100%;
}
