{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for ('static', filename='js/common/qrcode.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<h2>{% trans %}Setup a new game like so:{% endtrans %}</h2>
			<ul>
				<li>{% trans %}Connect to the local wifi{% endtrans %}</li>
				<li>{% trans %}Scan the QR code with your smartphone or tablet{% endtrans %}</li>
				<li>{% trans %}Choose you setup of game and add player{% endtrans %}</li>
				<li>{% trans %}Start the game{% endtrans %}</li>
			</ul>

			<div id="qrcode" class="container qrcode">
				<script type="text/javascript">
					new QRCode(document.getElementById("qrcode"), "{{ url }}");
				</script>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</div>
<br>
{% endblock %}