@import url('fonts_Merriweather.css');

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	font-family: 'Merriweather', serif;
	background-image: linear-gradient(to right, #1d3c4c, #3c5b6c);
	color: #fff;
	border-radius: 25px;
}

#Header {
	height: 10%;
}

#content {
	height: 65%;
}

#Footer {
	height: 5%;
}

#header-left.table, #header-right.table {
	background-color: #012432;
	font-size: xx-large;
}

#header-cricket-left.table, #header-cricket-right.table {
	background-color: #012432;
	font-size: x-large;
}

#throw-update.table td a {
	text-align: center;
	text-decoration: none;
	display: block;
	width: 100%;
}

a, a:hover, a:visited, a:active {
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

h1#playerName,h1#playerScore, h1#playerNumber, h2#playerSum, h2#playerThrow {
	text-align: center;
	vertical-align: middle;
}


div#playerName {
	background-color: #012432;
	padding: 10px;
}

div#playerScore, div#playerNumber, div[id^="Sum-"] {
	background-color: #3c5f6c;
	padding: 10px;
}

div#playerMessage {
	background-color: #3c5f6c;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

div[id^="Throws-"] {
	background-color: #012432;
	padding: 5px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

div#throw {
	vertical-align: middle;
	width: 33%;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
}

div#scoreheader {
	padding: 10px;
	margin-bottom: 25px;
}

div[id^="Border-"] {
	margin-top: 25px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

div[id^="Cricket-Border-"] {
	width: 45%;
    margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left:0px;
	padding-right: 0px;
}

table[id^="playerTable-"] {
    table-layout: fixed;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

table[id^="playerTable-"] td:first-child {
    width: 40%;
}

#playerNameColumn, #playerLastThrows {
	background-color: #012432;
}

#playerScoreColumn, td[id^="Message-"] {
	background-color: #3c5f6c;
}

#playerLastThrows, td[id^="Message-"] {
	height: 50px;
}

#numberColumn:nth-child(even), #countColumn:nth-child(even) {
	background-color: #012432;
}

#numberColumn:nth-child(odd), #countColumn:nth-child(odd) {
	background-color: #3c5f6c;
}

table[id^="playerTable-"] tr td {
	border: 1px solid black;
}

div.jumbotron.header {
	background: url("../img/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 15%;
}

div.jumbotron.footer {
	background-image: linear-gradient(to right, #1d3c4c, #3c5b6c);
}

table.footer {
	color: #fff;
}

.btn-outline-primary {
	color: #fff;
	border-color: #fff;
}

.btn-outline-primary:hover {
	background: #012432;
	border-color: #000;
}

.btn-outline-primary:focus {
	background-color: unset;
	box-shadow: unset;
	border-color: unset;
}

.btn-outline-primary:not(:disabled):not(.disabled).active {
	background-color: #3c5f6c;
	box-shadow: unset;
	border-color: #fff;
}

.from-control {
	background-color: #fff;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.btn-group {
    display: flex;
    flex-direction: row;
}

.btn-group > button {
    width: 100%;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #3c5f6c;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #012432;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #012432;
  color: white;
  height: 15px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
